<!DOCTYPE html>
<html>
  <head>
    <title>Manager</title>
    <%= stylesheet_link_tag    "zoome/manager/application", media: "all" %>
    <%= javascript_include_tag "zoome/manager/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='page'>
      <div class='page-main'>
        <%= render 'flashes'  %>
        <%= render 'header' if current_manager %>
        <%= render 'menu'   if current_manager %>
        <div class='container py-30'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
